h1
  font-family: Montserrat
  font-size: 30px
  font-weight: bold

h2
  font-family: Montserrat
  font-size: 18px
  font-weight: lighter

.container-erp
  margin: 150px 400px

.au-card .erp-card
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1)
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1)
  padding-right: 20px
  height: fit-content
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  background: #fff
  overflow: hidden
  font-family: Montserrat
  font-size: 25px
  position: absolute

.au-card--border
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px


.au-card--border .au-card-title
  -webkit-border-top-left-radius: 3px
  -moz-border-radius-topleft: 3px
  border-top-left-radius: 3px
  -webkit-border-top-right-radius: 3px
  -moz-border-radius-topright: 3px
  border-top-right-radius: 3px


.au-card--border .au-card-title .bg-overlay
  -webkit-border-top-left-radius: 3px
  -moz-border-radius-topleft: 3px
  border-top-left-radius: 3px
  -webkit-border-top-right-radius: 3px
  -moz-border-radius-topright: 3px
  border-top-right-radius: 3px


.au-card-bordered
  border: 1px solid #e5e5e5
  background: #fff
  padding: 40px
  padding-top: 42px
  padding-right: 10px
  margin-bottom: 40px

.au-card-inner
  padding: 10px
  padding-right: 5px
  padding-bottom: 15px


.erp-link
  color: #1D1E56
  text-decoration: none
  width: 150px

.logout
  padding-top: 10px
