<div class="container">

<section id="card_section" class="card-group">


  <h4 class="home-title">Welcome, choose where to go</h4>

  <a class="card mx-auto" routerLink="/fibre/teams" routerLinkActive="active">
    <div class="card-body">
      <div class="card-text card-details">BTS <i class="fa fa-arrow-right pull-right"></i></div>
    </div>
  </a>

  <a class="card mx-auto" routerLink="/fibre-home/projects" routerLinkActive="active">
    <div class="card-body">
      <div class="card-text card-details">Fibre to the home <i class="fa fa-arrow-right pull-right"></i></div>
    </div>
  </a>

  <a class="card mx-auto" routerLink="/fibre/projects" routerLinkActive="active">
    <div class="card-body">
      <div class="card-text card-details">Fibre to the site <i class="fa fa-arrow-right pull-right"></i>
        <span class="project-data"></span></div>
    </div>
  </a>

  <div class="col text-center">

  <button class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
  </div>

</section>



</div>
